doctype html
html
    head
        meta(charset="utf-8")
        title Second Page
    body
        h1 Second Page

        script(src="../../bower_components/requirejs/require.js")
        script(src="../unit/config.js")
        script.
            require(['controler', 'test/mul-pages/usercase'], function (Controler, usercase) {
                new Controler().exec(usercase)
            })
