doctype html
html
    head
        meta(charset="utf-8")
        title Case Exec Result
    body
        a(href="begin.html") Return to Case List

        script(src="../../bower_components/requirejs/require.js")
        script(src="../unit/config.js")
        script.
            require(['src/test-report'], function (TestReport) {
                var raw = TestReport.generateRawFromUrl()
                console.log(raw)
            })
