doctype html
html
    head
        meta(charset="utf-8")
        title QUnit test
        link(rel="stylesheet" href="../../bower_components/qunit/qunit/qunit.css")
        link(rel="stylesheet" href="test.css")
    body
        div#qunit
        div#qunit-fixture

        iframe

        //script(src="../../bower_components/jquery-simulate/jquery.simulate.js")
        script(src="../../bower_components/qunit/qunit/qunit.js")
        script(src="../../bower_components/requirejs/require.js")
        script.
            requirejs.config({
                baseUrl: '../../',
                paths  : {
                    'jquery'     : 'bower_components/jquery/dist/jquery',
                    'text'       : 'bower_components/requirejs-text/text',
                    'async'      : 'bower_components/async/lib/async',
                    'es6-promise': 'bower_components/es6-promise/promise.min'
                }
            })
            require(['test/unit/test'])